@layer app {
  :host ::ng-deep .formulario {
    height: 100%;

    .p-card.p-component {
      border: 1px solid var(--surface-border);
      height: 100%;
    }

    .p-card-header {
      border-bottom: 1px solid var(--surface-border);
      padding: 1rem;

      h1 {
        margin: 0;
        font-size: 1.75rem;
      }
    }

    .p-card-body {
      padding: 0;
      gap: 0;
      height: 100%;
      overflow: auto;
    }

    .p-card-content {
      padding: 1rem;
      height: 100%;
      overflow: auto;
    }

    .p-card-footer {
      display: flex;
      justify-content: right;
      gap: .75rem;
      padding: 1rem;
      border-top: 1px solid var(--surface-border);
      flex: 0 0 content;
    }

    h1 {
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1 1 auto;

      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;


        label {
          display: block;
          font-weight: 600;
          margin-bottom: .25rem;
        }
      }

      .row {
        display: flex;
        gap: .75rem;
        width: 100%;
        align-items: end;
      }

      .row.row-wrap {
        flex-wrap: wrap;
      }

      .p-autocomplete {
        width: 100%;
      }
    }

    .field-checkbox {
      display: flex;
      align-items: center;

      label {
        display: flex !important;
        margin-left: .5rem !important;
        margin-bottom: 0 !important;
      }
    }

    .header-enderecos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--surface-border);
      padding: .5rem 1rem;

      label {
        margin: 0 !important;
      }
    }

    .enderecos {
      border: 1px solid var(--surface-border);
      border-radius: var(--border-radius);
      box-shadow: 0 0 #0000,
        0 0 #0000,
        0 1px 2px 0 rgba(18, 18, 23, 0.05);

      .lista-enderecos {
        padding: 1rem;
      }

      .endereco {
        display: flex;
        padding: .5rem;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid var(--surface-border);
        border-radius: var(--border-radius);
        box-shadow: 0 0 #0000,
          0 0 #0000,
          0 1px 2px 0 rgba(18, 18, 23, 0.05);
      }

      .row.row-center-itens {
        align-items: flex-end;
      }

      .form-group.principal {
        flex-direction: row;
        margin-bottom: .5rem;

        label {
          margin-bottom: 0;
          margin-left: .5rem;
        }
      }

      .form-group.cep {
        width: 15ch;
      }

      .form-group.numero {
        width: 10ch;
      }

      .form-group.cidade-autocomplete {
        width: fit-content;

        p-autocomplete {
          width: fit-content;
        }
      }
    }
  }
}