<app-form [campos]="layout" [carregando]="carregando" [erro_ao_carregar]="erro_ao_carregar" titulo="Novo Patrimônio"
  (submited)="onSubmit()" />
<ng-template #layout>
  <form [formGroup]="form">
    <div class="row">
      <div id="codigo-form-group" class="form-group">
        <label for="codigo">Código</label>
        <input id="codigo" formControlName="codigo" type="text" pInputText />
      </div>
      <div id="descricao-form-group" class="form-group">
        <label for="descricao">Descrição</label>
        <input id="descricao" formControlName="descricao" type="text" pInputText />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="especificacao">Especificação</label>
        <textarea id="especificacao" formControlName="especificacao" pInputTextarea [autoResize]="true"
          rows="5"></textarea>
      </div>
    </div>

    <div class="row ">
      <div id="data-aquisicao-form-group" class="form-group">
        <label for="data-aquisicao">Data de Aquisição</label>
        <p-calendar inputId="data-aquisicao" formControlName="data_aquisicao" dateFormat="dd/mm/yy" appendTo="body" />
      </div>
      <div id="data-incorporacao-form-group" class="form-group">
        <label for="data-incorporacao">Data de Incorporação</label>
        <p-calendar inputId="data-incorporacao" formControlName="data_incorporacao" dateFormat="dd/mm/yy"
          appendTo="body" />
      </div>
      <div id="valor-aquisicao-form-group" class="form-group">
        <label for="valor-aquisicao">Valor de Aquisição</label>
        <p-inputNumber inputId="valor-aquisicao" formControlName="valor_aquisicao" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2" [maxFractionDigits]="2" />
      </div>
      <div id="vida-util-form-group" class="form-group">
        <label for="vida-util">Vida Útil (Em Meses)</label>
        <p-inputNumber inputId="vida-util" formControlName="vida_util" locale="pt-BR" />
      </div>
      <div id="valor-residual-form-group" class="form-group">
        <label for="valor-residual">Valor Residual</label>
        <p-inputNumber inputId="valor-residual" formControlName="valor_residual" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2" [maxFractionDigits]="2" />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="grupo">Grupo</label>
        <p-inputGroup>
          <input id="grupo" type="text" pInputText placeholder='Clique em "Selecionar" para selecionar um grupo'
            disabled="true" />
          <button type="button" pButton label="Selecionar" class="p-button"
            (click)="exibir_selecao_grupo = true"></button>
        </p-inputGroup>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="fornecedor">Fornecedor</label>
        <p-inputGroup>
          <input id="fornecedor" type="text" pInputText
            placeholder='Clique em "Selecionar" para selecionar um fornecedor' disabled="true" />
          <button type="button" pButton label="Selecionar" class="p-button"
            (click)="exibir_selecao_fornecedor = true"></button>
        </p-inputGroup>
      </div>
    </div>

    <div class="row row-wrap">
      <div id="numero-empenho-form-group" class="form-group">
        <label for="numero-empenho">Nº do Empenho</label>
        <input id="numero-empenho" formControlName="numero_empenho" type="text" pInputText />
      </div>
      <div id="ano-empenho-form-group" class="form-group">
        <label for="ano-empenho">Ano do Empenho</label>
        <input id="ano-empenho" formControlName="ano_empenho" type="text" pInputText />
      </div>
      <div id="numero-processo-compra-form-group" class="form-group">
        <label for="numero-processo-compra">Nº do Processo</label>
        <input id="numero-processo-compra" formControlName="numero_processo_compra" type="text" pInputText />
      </div>
      <div id="ano-processo-compra-form-group" class="form-group">
        <label for="ano-processo-compra">Ano do Processo</label>
        <input id="ano-processo-compra" formControlName="ano_processo_compra" type="text" pInputText />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="localizacao-inicial">Localização Inicial</label>
        <p-inputGroup>
          <input id="localizacao-inicial" type="text" pInputText
            placeholder='Clique em "Selecionar" para selecionar um Local' disabled="true" />
          <button type="button" pButton label="Selecionar" class="p-button"
            (click)="exibir_selecao_local = true"></button>
        </p-inputGroup>
      </div>
    </div>
  </form>
</ng-template>

<p-dialog header="Selecionar Fornecedor" [modal]="true" [(visible)]="exibir_selecao_fornecedor"
  [style]="{ width: '720px' }">
  <div class="lista-locais">
    <p-listbox [options]="fornecedores" [(ngModel)]="fornecedor_selecionado" optionLabel="descricao" [filter]="true"
      [style]="{ width: '100%' }" [listStyle]="{'height': '300px'}" (onFilter)="get_fornecedores($event)"
      filterPlaceHolder="Digite o documento ou nome de um Fornecedor" emptyFilterMessage="Nenhum fornecedor encontrado">
      <ng-template let-fornecedor pTemplate="item">
        <div>{{fornecedor.documento}} - {{ fornecedor.razao_social }}</div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="botoes-modal">
    <p-button label="Cancelar" severity="secondary" (click)="exibir_selecao_fornecedor = false" />
    <p-button label="Confirmar" (click)="on_selecionar_fornecedor()" [disabled]="!fornecedor_selecionado" />
  </div>
</p-dialog>

<p-dialog header="Selecionar Grupo" [modal]="true" [(visible)]="exibir_selecao_grupo" [style]="{ width: '720px' }">
  <div class="lista-locais">
    <p-listbox [options]="grupos" [(ngModel)]="grupo_selecionado" optionLabel="descricao" [filter]="true"
      [style]="{ width: '100%' }" [listStyle]="{'height': '300px'}" (onFilter)="get_grupos($event)"
      filterPlaceHolder="Digite o nome de um grupo" emptyFilterMessage="Nenhum grupo encontrado">
      <ng-template let-grupo pTemplate="item">
        <div>{{grupo.codigo}} - {{ grupo.descricao }}</div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="botoes-modal">
    <p-button label="Cancelar" severity="secondary" (click)="exibir_selecao_grupo = false" />
    <p-button label="Confirmar" (click)="on_selecionar_grupo()" [disabled]="!grupo_selecionado" />
  </div>
</p-dialog>

<p-dialog header="Selecionar Local" [modal]="true" [(visible)]="exibir_selecao_local" [style]="{ width: '720px' }">
  <div class="lista-locais">
    <p-listbox [options]="locais" [(ngModel)]="local_selecionado" optionLabel="descricao" [filter]="true"
      [style]="{ width: '100%' }" [listStyle]="{'height': '300px'}" (onFilter)="get_locais($event)"
      filterPlaceHolder="Digite o nome de um local" emptyFilterMessage="Nenhum local encontrado">
      <ng-template let-local pTemplate="item">
        <div>{{local.codigo}} - {{ local.descricao }}</div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="botoes-modal">
    <p-button label="Cancelar" severity="secondary" (click)="exibir_selecao_local = false" />
    <p-button label="Confirmar" (click)="on_selecionar_local()" [disabled]="!local_selecionado" />
  </div>
</p-dialog>