@layer patrimonios-form {
  :host ::ng-deep {
    #codigo-form-group {
      width: 15ch;
    }

    #data-aquisicao-form-group,
    #data-incorporacao-form-group,
    #valor-aquisicao-form-group,
    #vida-util-form-group,
    #valor-residual-form-group,
    #numero-empenho-form-group,
    #ano-empenho-form-group,
    #numero-processo-compra-form-group,
    #ano-processo-compra-form-group {
      width: 10rem;

      input {
        width: 100%;
      }
    }

    .botoes-modal {
      display: flex;
      margin-top: 1rem;
      justify-content: right;
      gap: 1rem;
    }
  }
}
