<app-form [titulo]="titulo" [campos]="layout" [carregando]="carregando" [erro_ao_carregar]="erro_ao_carregar"
  (submited)="onSubmit()"></app-form>
<ng-template #layout>
  <form [formGroup]="form">
    <div class="row">
      <div id="form-group-codigo" class="form-group">
        <label for="codigo">Código</label>
        <input id="codigo" formControlName="codigo" type="text" pInputText />
      </div>
      <div id="form-group-descricao" class="form-group">
        <label for="descricao">Descrição</label>
        <input id="descricao" formControlName="descricao" type="text" pInputText />
      </div>
      <div id="form-group-ativo" class="form-group">
        <p-checkbox formControlName="ativo" binary="true" inputId="ativo" />
        <label for="ativo">Ativo</label>
      </div>
    </div>
    <div class="row subordinacao">
      <div id="form-group-subordinacao" class="form-group">
        <label for="subordinacao">Subordinação</label>
        <p-autoComplete inputId="subordinacao" formControlName="subordinacao" [suggestions]="locais"
          (completeMethod)="get_locais($event)" field="descricao" delay="500" minLength="1" forceSelection="true">
          <ng-template let-local pTemplate="item">
            <div>{{local.codigo}} - {{local.descricao}}</div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="row endereco">
      <app-form-endereco [form_group]="endereco()" />
    </div>
  </form>
</ng-template>