@layer app {
  :host ::ng-deep #wrapper {
    .p-card.p-component {
      border: 1px solid var(--surface-border);
    }

    .p-card-header {
      display: flex;
      border-bottom: 1px solid var(--surface-border);
      padding: .75rem;
      justify-content: space-between;
      align-items: center;

      h1.p-card-title {
        margin: 0;
      }
    }

    .p-card-body {
      padding: 0;
    }

    .p-dataview-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .fornecedor {

        a {
          border-radius: var(--border-radius);
          color: var(--text-color);
          text-decoration: none;
          cursor: pointer;
          display: block;
          width: 100%;
          padding: 1rem;
        }

        a:visited {
          color: var(--text-color);
        }

        a:hover {
          color: var(--highlight-text-color);
          background-color: var(--highlight-bg);
        }
      }

      .fornecedor.border-top {
        border-top: 1px solid var(--surface-border);
      }
    }
  }
}