<app-index [erro_ao_carregar]="erro_ao_carregar" [layout]="layout" titulo="Fornecedores" [carregando]="carregando"
  [dados]="fornecedores"></app-index>
<ng-template #layout>
  <p-dataView #dv [value]="fornecedores" [emptyMessage]="'Nenhum patrimônio encontrado'">
    <ng-template pTemplate="list">
      <div class="fornecedor" *ngFor="let fornecedor of fornecedores; let first = first"
        [ngClass]="{'border-top': !first}">
        <a [routerLink]="[fornecedor.id]">{{fornecedor.documento}} - {{fornecedor.razao_social}}</a>
      </div>
    </ng-template>
  </p-dataView>
</ng-template>