<app-form [campos]="layout" [carregando]="carregando" [erro_ao_carregar]="erro_ao_carregar" titulo="Novo Grupo"
  (submited)="onSubmit()"></app-form>
<ng-template #layout>
  <form [formGroup]="form">
    <div class="row">
      <div id="form-group-codigo" class="form-group">
        <label for="codigo">Código</label>
        <input id="codigo" formControlName="codigo" type="text" pInputText />
      </div>
      <div id="form-group-descricao" class="form-group">
        <label for="descricao">Descrição</label>
        <input id="descricao" formControlName="descricao" type="text" pInputText />
      </div>
      <div id="form-group-ativo" class="form-group checkbox">
        <p-checkbox formControlName="ativo" binary="true" inputId="ativo" />
        <label for="ativo">Ativo</label>
      </div>
    </div>
    <div class="row grupo">
      <p-checkbox label="Subgrupo" binary="true" [disabled]="editando" [(ngModel)]="vincular_grupo"
        [ngModelOptions]="{standalone: true}" />
      @if (vincular_grupo) {
      <div id="form-group-grupo-grupo" class="form-group">
        <label for="grupo-grupo">Grupo grupo</label>
        <p-autoComplete inputId="grupo-grupo" formControlName="grupo" [suggestions]="grupos"
          (completeMethod)="get_grupos($event)" field="descricao" delay="500" minLength="1" forceSelection="true">
          <ng-template let-grupo pTemplate="item">
            <div>{{grupo.codigo}} - {{grupo.descricao}}</div>
          </ng-template>
        </p-autoComplete>
      </div>
      }
    </div>
  </form>
</ng-template>