<div class="secoes">
  <section *ngFor="let secao of secoes" [id]="secao.id" class="secao">
    <p-card [header]="secao.titulo">
      <ng-container *ngTemplateOutlet="secao.template"></ng-container>
    </p-card>
  </section>
</div>

<ng-template #template_patrimonios>
  <p-table [value]="ultimos" class="patrimonios">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Descrção</th>
        <th>Criado em</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patrimonio>
      <tr [routerLink]="['patrimonios', patrimonio.id]">
        <td>{{ patrimonio.codigo }}</td>
        <td>{{ patrimonio.descricao }}</td>
        <td>{{ patrimonio.created_at | date : 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #template_baixas>
  <p-table [value]="baixas" class="patrimonios">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Descrção</th>
        <th>Baixado em</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patrimonio>
      <tr [routerLink]="['patrimonios', patrimonio.id]">
        <td>{{ patrimonio.codigo }}</td>
        <td>{{ patrimonio.descricao }}</td>
        <td>{{ patrimonio.data_baixa | date : 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #template_depreciacao>
  <p-table [value]="depreciacao" class="patrimonios">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Descrção</th>
        <th>Criado em</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patrimonio>
      <tr [routerLink]="['patrimonios', patrimonio.id]">
        <td>{{ patrimonio.codigo }}</td>
        <td>{{ patrimonio.descricao }}</td>
        <td>{{ patrimonio.created_at | date : 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #template_pendentes>
  <p-table [value]="pendentes" class="patrimonios">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Descrção</th>
        <th>Criado em</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patrimonio>
      <tr [routerLink]="['patrimonios', patrimonio.id]">
        <td>{{ patrimonio.codigo }}</td>
        <td>{{ patrimonio.descricao }}</td>
        <td>{{ patrimonio.created_at | date : 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>