@layer app {

  :host,
  app-formulario {
    height: 100%;
  }

  :host ::ng-deep .formulario form {
    #codigo-form-group {
      width: fit-content;

      input {
        width: 15rem;
      }
    }

    #data-aquisicao-form-group,
    #data-incorporacao-form-group,
    #valor-aquisicao-form-group,
    #vida-util-form-group,
    #valor-residual-form-group,
    #numero-empenho-form-group,
    #ano-empenho-form-group,
    #numero-processo-compra-form-group,
    #ano-processo-compra-form-group {
      width: 10rem;

      input {
        width: 100%;
      }
    }
  }
}