// Importa os icones
@import "primeicons/primeicons.css";

@layer primeng, app;

@layer app {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    @media (min-width: 1400px) {
      width: 100vw;
      margin: 0 calc((100vw - 1400px) / 2);
    }
  }

  main {
    flex: 1 1 auto;
    padding: .75rem;
    height: 100vh;
    overflow: auto;

    @media (max-width: 576px) {
      width: 100%;
      height: fit-content;
    }
  }
}