// Importa os icones
@import "primeicons/primeicons.css";

@layer primeng, app;

@layer app {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    @media (min-width: 1400px) {
      margin: 0 calc((100vw - 1400px) / 2);
    }
  }

  main {
    flex: 1 1 auto;
    padding: .75rem;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}