<app-form [campos]="campos" [erro_ao_carregar]="erro_ao_carregar" [carregando]="carregando" titulo="Novo Fornecedor"
  (submited)="onSubmit($event)"></app-form>
<ng-template #campos>
  <form [formGroup]="form">
    <div class="row">
      <div id="tipo-form-group" class="form-group">
        <label>Tipo</label>
        <div id="radios" class="radios">
          <div *ngFor="let tipo of tipos" class="field-checkbox">
            <p-radioButton [inputId]="tipo.tipo" [value]="tipo.tipo" formControlName="tipo" />
            <label [for]="tipo.tipo">{{ tipo.descricao }}</label>
          </div>
        </div>
      </div>
      <div id="documento-form-group" class="form-group">
        <label for="documento">Documento</label>
        <input id="documento" formControlName="documento" type="text" pInputText />
      </div>
    </div>
    <div class="row">
      <div id="razao-social-form-group" class="form-group">
        <label for="razao-social">Razão Social</label>
        <input id="razao-social" formControlName="razao_social" type="text" pInputText />
      </div>
      <div id="nome-fantasia-form-group" class="form-group">
        <label for="nome-fantasia">Nome Fantasia</label>
        <input id="nome-fantasia" formControlName="nome_fantasia" type="text" pInputText />
      </div>
    </div>

    <div class="row">
      <div id="enderecos-form-group" class="form-group">
        <div class="enderecos">
          <div class="header-enderecos">
            <label>Endereços</label>
            <p-button icon="pi pi-plus" severity="success" (click)="novo_endereco()" />
          </div>
          <p-dataView #dv [value]="enderecos().controls">
            <ng-template pTemplate="list" let-enderecos>
              <div formArrayName="enderecos" class="lista-enderecos">
                <app-form-endereco (excluir)="excluir_endereco($event)" [endereco_id]="i" [form_group]="endereco"
                  [exibir_excluir]="true" *ngFor="let endereco of enderecos; let first = first; let i = index" />
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </form>
</ng-template>