<app-form [campos]="campos" [dados_carregados]="dados_carregados" titulo="Novo Fornecedor"
  (submited)="onSubmit($event)"></app-form>
<ng-template #campos>
  <form [formGroup]="form">
    <div class="row">
      <div id="tipo-form-group" class="form-group">
        <label>Tipo</label>
        <div id="radios" class="radios">
          <div *ngFor="let tipo of tipos" class="field-checkbox">
            <p-radioButton [inputId]="tipo.tipo" [value]="tipo.tipo" formControlName="tipo" />
            <label [for]="tipo.tipo">{{ tipo.descricao }}</label>
          </div>
        </div>
      </div>
      <div id="documento-form-group" class="form-group">
        <label for="documento">Documento</label>
        <input id="documento" formControlName="documento" type="text" pInputText />
      </div>
    </div>
    <div class="row">
      <div id="razao-social-form-group" class="form-group">
        <label for="razao-social">Razão Social</label>
        <input id="razao-social" formControlName="razao_social" type="text" pInputText />
      </div>
      <div id="nome-fantasia-form-group" class="form-group">
        <label for="nome-fantasia">Nome Fantasia</label>
        <input id="nome-fantasia" formControlName="nome_fantasia" type="text" pInputText />
      </div>
    </div>

    <div class="row">
      <app-form-enderecos></app-form-enderecos>
    </div>
  </form>
</ng-template>