<p-card class="card-enderecos">
  <ng-template pTemplate="header">
    @if (titulo_plural) {
    <h2>Endereços</h2>
    } @else {
    <h2>Endereço</h2>
    }
  </ng-template>
  <div class="lista">
    <div class="endereco" *ngFor="let endereco of enderecos">
      <div class="row logradouro">
        <div class="campo logradouro">
          <label>Logradouro</label>
          <div class="valor">{{endereco.logradouro}}</div>
        </div>
        <div class="campo">
          <label>Nº</label>
          <div class="valor">{{endereco.numero}}</div>
        </div>
        <div class="campo principal">
          <p-badge value=" principal" [badgeDisabled]="!endereco.principal" [style]="{'font-size': '.8rem'}" />
        </div>
      </div>
      <div class="row">
        <div class="campo complemento">
          <label>Complemento</label>
          <div class="valor">{{endereco.complemento}}</div>
        </div>
        <div class="campo">
          <label>Bairro</label>
          <div class="valor">{{endereco.bairro}}</div>
        </div>
        <div class="campo">
          <label>CEP</label>
          <div class="valor">{{endereco.cep}}</div>
        </div>
        <div class="campo">
          <label>Cidade</label>
          <div>{{endereco.cidade?.nome}}</div>
        </div>
        <div class="campo">
          <label>Estado</label>
          <div class="valor">{{endereco.cidade?.estado?.nome}}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
  </ng-template>
</p-card>