<p-card id="wrapper">
  <ng-template pTemplate="header">
    <h1 class="p-card-title">{{titulo}}</h1>
    <button routerLink="novo" pButton pRipple label="Novo" class="p-button"></button>
  </ng-template>
  <div class="card">
    <p-dataView #dv [value]="dados">
      <ng-template pTemplate="empty">
        @if (carregando) {
        <app-spinner></app-spinner>
        } @else if (!carregando && erro_ao_carregar) {
        <div class="erro">Não foi possível carregar as informações</div>
        } @else {
        Nenhum item cadastrado
        }
      </ng-template>
      <ng-template pTemplate="list">
        @if (!carregando && !erro_ao_carregar) {
        <ng-container *ngTemplateOutlet="layout; context: { $implicit: dados}"></ng-container>
        }
      </ng-template>
    </p-dataView>
  </div>
</p-card>